<div class="mx-auto mt-5 ml-6 " style="width: 400px;" >
  ようこそ、　ながのCAKEへ！<br />
  このサイトは、　ケーキ販売のECサイトになります。<br />
  会員でない方も商品の閲覧はできますが、<br />
  購入には会員登録が必要になります。
</div>

<div class="mx-auto mt-6" style="width: 800px;" >
  <h2><strong>新着商品</strong></h2>
</div>

<div class="row">
    <% @items. each do |item| %>
      <div class="col-md-4">
        <%= image_tag item.image, size: "300x200" %><br />
        <strong><%= link_to item_path(item.id), class:"text-reset mt-2" do %><%= item.name %><% end %></strong><br />
        <strong>￥<%= item.add_tax_price.to_s(:delimited) %></strong>


      </div>



    <% end %>
  </div>


<div class="text-right mt-5 mr-3">
  <u><%= link_to items_path do %>全ての商品を見る＞<% end %></u>
</div>